body {
    background-color: #ABE7FF;
    font-family: 'Indie Flower', cursive;
}
.row {
    margin-left: 50px;
}
.container {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}
#sun {
    float: left;
}
#header ul, h1{
    list-style: none;
    display: block;
    color: maroon;
    font-weight: bold;
    font-size: 80px;
}
#header li {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
#header a img {
    margin-left: 10px;
    margin-right: 10px;
}
h2 {
    margin-top: 0;
}
.radio {
    color: maroon;
}

#FAQ li p {
    color: maroon;
    list-style: none;
}

#FAQhead {
    color: maroon;
    font-weight: bold;
    list-style: none;
}

#formtitle {
    color: maroon;
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
    text-align: center;
}

label {
    color: maroon;
    font-size: 20px;
}

#radios {
    text-align: center;
}

.form-control {
    color: black;
    font-size: 20px;
}

.btn {
    color: white;
    background-color: maroon;
    padding: 6px 20px;
}
.btn:hover {
    color: white;
}