body {
    background-color: #7ED7F9;
    font-family: 'Indie Flower', cursive;
}
#header ul, h1{
    list-style: none;
    display: inline-block;
    color: maroon;
    font-weight: bold;
    font-size: 80px;
}
#header li {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.radio {
    color: maroon;
}

#FAQ li p {
    color: maroon;
    list-style: none;
}

#FAQhead {
    color: maroon;
    font-weight: bold;
    list-style: none;
}