body {
    background: url(images/photo4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*top left logo*/
#logo {
    height: 25%;
    width: 25%;
}

.container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
/* tab color */
.nav-pills > li > a {
    font-family: 'Droid Sans', sans-serif;
    background-color: #BF1E2E;
    border-color: #777777;
    color: white;
    width: 120px;
}

/* hover tab color */
.nav-pills > li > a:hover {
    font-family: 'Droid Sans', sans-serif;
    border-color: #BF1E2E;
    background-color: #fff;
    color: #BF1E2E;
    width: 120px;
}

li, a { /*adjust the nav pills spacing*/
    text-align: center;
    padding-right: 0px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

#title {
    text-shadow: 7px 7px 10px #BF1E2E;
    color: white;
    font-family: 'Droid Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

#description {
    text-shadow: 2px 2px 8px #BF1E2E;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#first, #second {
    width: 50%;
    background-color: #90918C;
    padding: 0px;
}

table, .col-md-6 {
    padding: 0px;
}

.table {
    width: 500px;
    text-align: center;
    font-weight:bold; 
    border: solid 4px white;
}
#slideshow {
    max-height: 400px;
    max-width: 700px;
    overflow: hidden; 
    list-style: none; 
    padding: 0; 
    margin: 0;
}

#left {
    text-align: left; 
}

#slideshow li {
    padding-right: 200px;
}

#slideshow img {
    border-radius: 25px;
}

#slideshow2 {
    max-height: 400px;
    max-width: 700px;
    overflow: hidden; 
    list-style: none; 
    padding: 0; 
    margin: 0;
}

#slideshow2 li {
    padding-left: 100px;
}

#slideshow2 img {
    border-radius: 25px;
}

#first {
    margin-left: 120px;
}

#second {
    margin-left: 70px;
}
#toptable {
    padding-left: 100px;
    padding-right: 100px;
}
